# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
env/
venv/
ENV/
.venv/
base/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Django / Flask / FastAPI
*.log
local_settings.py
instance/
.webassets-cache

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Data and model files
*.h5
*.hdf5
*.ckpt
*.pb
*.pth
*.pt
*.weights
runs/
results/
inference/output/
mod
